/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6e3d3d;
}

header {
    background: #333;
    color: white;
    padding: 15px 0;
    text-align: left;
    padding-left: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.sidebar {
    flex: 1;
    max-width: 250px;
    text-align: center;
    padding: 20px;
    background: #8A2BE2;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.sidebar img {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 3px solid white;
}

.content {
    flex: 2;
    padding: 30px;
    background: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.skills-container {
    display: flex;
    gap: 15px;
}

.skills-container img {
    width: 60px;
    height: 60px;
}

footer {
    text-align: center;
    padding: 15px;
    background: #333;
    color: white;
    margin-top: 20px;
    border-top: 3px solid #8A2BE2;
}

/* Estilização dos IDs das seções */
#sobre, #skills, #contato {
    color: #4a206e;
    font-weight: bold;
    font-size: 1.2em;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
    }

    .sidebar {
        max-width: 100%;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }
}
